:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    Font-size: 13px; 
}

.card {
    background-color: var(--Moderate-violet);
    width: 100%;
    height: 100%;
    box-shadow: 0px 10px 20px -1px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

main {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "Daniel Daniel Jonathan Kira"
    "Jeanette Patrick Patrick Kira";
    gap: 25px;
    max-width: 1200px;
    width: 95%;
}

.Daniel {
    grid-area: Daniel;
}

.Daniel img {
    border-radius: 50%;
}

.Daniel h1 {
    font-size: 20px;
    align-items: center;
    color: var(--Light-grayish-blue);
}

.Daniel p {
    font-size: 14px;
    align-items: center;
    color: var(--Very-dark-grayish-blue);
}

.Daniel h2 {
    font-size: 14px;
}

.author {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.Jonathan {
    grid-area: Jonathan;
}

.Jonathan h1 {
    font-size: 21px;
    align-items: center;
    color: var(--Light-grayish-blue);
}

.Jonathan p {
    font-size: 15px;
    align-items: center;
    color: var(--Light-gray);
}

.Jonathan h2 {
    font-size: 15px;
}

.Kira {
    grid-area: Kira;
}

.Kira h1 {
    font-size: 19px;
    align-items: center;
    padding: 14px;
    color: var(--Very-dark-blackish-blue);
}

.Kira p {
    font-size: 15px;
    align-items: center;
    color: var(--Light-gray);
}

.Kira h2 {
    font-size: 15px;
}

.Jeanette {
    grid-area: Jeanette;
}

.Jeanette h1 {
    font-size: 24px;
    align-items: center;
    padding: 16px;
    color: var(--Very-dark-blackish-blue);
}

.Jeanette p {
    font-size: 15px;
    align-items: center;
    color: var(--Light-gray);
}

.Jeanette h2 {
    font-size: 15px;
}

.Patrick {
    grid-area: Patrick;
}

.Patrick h1 {
    font-size: 20px;
    align-items: center;
    padding: 15px;
    color: var(--Light-grayish-blue);
}

.Patrick p {
    font-size: 15px;
    align-items: center;
    color: var(--Light-gray);
}

.Patrick h2 {
    font-size: 15px;
}

.barlow-500 {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 500;
    font-style: normal;
  }
  
.barlow-600 {
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 600;
    font-style: normal;
  }

.violet {
    background-color: var(--Moderate-violet);
}

.grayish-blue {
    background-color: var(--Very-dark-grayish-blue);
}

.blackish-blue {
    background-color: var(--Very-dark-blackish-blue);
}

.white {
    background-color: var(--White);
}

.Light-gray {
    background-color: var(--Light-gray);
}

.Light-grayish-blue {
    background-color: var(--Light-grayish-blue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }